.all-works {
  max-width: 80%;
}
.works-container {
  display: flex;
  flex-flow: row nowrap;
  scroll-behavior: smooth;
  overflow: hidden;
}
.works-container::-webkit-scrollbar {
  display: none;
}
.works-container__arrows {
  display: flex;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.works-container__arrow {
  width: 60px;
  font-size: 10em;
  transition: all 0.3s ease-in;
  cursor: pointer;
  position: absolute;
}
.works-container__arrow:hover {
  transform: scale(3);
  color: gray;
}

.left-arrow {
  left: -5%;
}
.right-arrow {
  right: -5%;
}

.work-image {
  max-height: 600px;
  min-width: 100%;
  width: 100%;
  max-width: 100%;
  transition: all 0.3s ease-in;
  border-radius: 50px;
  z-index: 100;
  cursor: pointer;
}

@media screen and (min-width: 150px) and (max-width: 520px) {
  .works-flex-container {
    display: grid !important;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
  .works-container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    max-width: 270px;
  }
  .works-container__arrows {
    display: none;
  }
  .work-image {
    min-width: 270px;
    max-height: 160px;
  }
}
@media screen and (min-width: 520px) and (max-width: 640px) {
  .works-container {
    width: 300px;
    margin: 60px auto;
  }
  .work-image {
    min-width: 300px;
    max-height: 400px;
  }
  .works-container__arrows {
    width: 300px;
  }
  .left-arrow {
    left: -22%;
    font-size: 5em;
  }
  .right-arrow {
    right: -23%;
    font-size: 5em;
  }
}
@media screen and (min-width: 640px) and (max-width: 770px) {
  .works-container {
    width: 550px;
    margin: 60px auto;
  }
  .work-image {
    min-width: 550px;
    max-height: 400px;
  }
  .works-container__arrows {
    width: 550px;
  }
  .left-arrow {
    left: -13%;
    font-size: 7em;
  }
  .right-arrow {
    right: -13%;
    font-size: 7em;
  }
}

@media screen and (min-width: 770px) and (max-width: 850px) {
  .works-container {
    width: 550px;
    margin: 60px auto;
  }
  .work-image {
    min-width: 550px;
    max-height: 400px;
  }
  .works-container__arrows {
    width: 550px;
  }
  .left-arrow {
    left: -13%;
    font-size: 7em;
  }
  .right-arrow {
    right: -13%;
    font-size: 7em;
  }
}
@media screen and (min-width: 850px) and (max-width: 1025px) {
  .works-container {
    width: 650px;
    margin: 60px auto;
  }
  .work-image {
    min-width: 650px;
    max-height: 400px;
  }
  .works-container__arrows {
    width: 650px;
  }
  .left-arrow {
    left: -13%;
    font-size: 10em;
  }
  .right-arrow {
    right: -13%;
    font-size: 10em;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .works-container {
    width: 850px;
    margin: 60px auto;
  }
  .work-image {
    min-width: 850px;
    max-height: 400px;
  }
  .works-container__arrows {
    width: 850px;
  }
  .work-image {
    min-width: 850px;
    max-height: 480px;
  }
  .left-arrow {
    left: -9%;
    font-size: 10em;
  }
  .right-arrow {
    right: -9%;
    font-size: 10em;
  }
}
